@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-primary: #5a78ff;
    --color-secondary: #0957ff;
}

body {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 400px;
    min-width: 640px;
    max-width: 1000px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.3);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding: 20px;
    min-height: 100vh; /* Set a minimum height */
    overflow: hidden; /* Hide overflow to prevent UI resizing */
}

.container header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

/* ... other styles ... */

.todos-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-height: 50vh; /* Set a maximum height */
    overflow-y: auto; /* Add a vertical scrollbar when it exceeds the max height */
    width: 100%;
}

/* ... other styles ... */

/* Responsive */
@media only screen and (max-width: 530px) {
    .container {
        margin: 0 20px;
        max-width: 96%;
        min-width: 96%;
    }
}

/* Add a new class for the list container */
.targets-container {
    max-height: 50vh; /* Set a maximum height */
    overflow-y: auto; /* Add a vertical scrollbar when it exceeds the max height */
}
